body {
    font-family: Arial, Helvetica, sans-serif;
}

.indexh {
    font-size: 40px;
	font-weight: bold;
    color: black
}

.snakeh {
	font-size: 40px;
	font-weight: bold;
	color: green;
}

.minesweeperh {
    font-size: 40px;
	font-weight: bold;
	color: red;
}

.mainp {
    font-size: 20px;
    color: black;
}

.e {
    font-size: 10px;
    color: red
}